<h1>РК2 по ЯИП</h1>
<h1>Горбунов Алексей</h1>
<h2>Вариант 7</h2>
<h2>Дан массив чисел arr_g. Найти частное от деления минимального элемента массива на максимальный. 
Поместить на место первого отрицательного элемента массива.
</h2>
<h2>Введите числа:</h2>
<%= form_tag('/rk2/view', :method => 'get') do %>
<%= label_tag('Массив чисел:') %>
<%= text_field_tag(:arr_g, nil, value: '10 12 -3', autocomplete: 'off') %><br>
<%= submit_tag('Посмотреть результат') %>
<% end%>