<h1>Результат</h1>
<% if @arr_g.count.zero? %>
    <p>Введены некорректные данные, попробуйте ещё раз</p>
    <% if @ma.zero? %>
        <h3>Подсказка: вызвано деление на 0</h3>
    <% end %>
<% else %>
<h2>Конечный массив:</h2>
<%= @res %><br>
<% if @first.nil? %>
    <h3>Замечание: так как отрицательных элементов в массиве нет, то он изменён не был</h3>
<% end %>
<% end %>
<%= link_to 'Вернуться', :rk2_input %>